@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/Godo.css');

* {
  box-sizing: border-box;
}
body{
    font-family: 'Godo', serif;

}

.buttomBox{
    display : flex;
    padding-bottom : 20px;
}

.btnwrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: rgb(131, 131, 131);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #ac8100;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  .cta span {
    transform: skewX(15deg) 
  }

  .cta span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

.left-box{

    padding-left: 180px;
    width : 50%;
    padding-top: 70px;
    text-align : center;
}
.right-box{
    padding-right: 180px;
    width : 50%;
    padding-top: 70px;
    text-align : center;
}
/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #ac8100;
    }
    100% {
        fill: white;
    }
}

#classimg{
    text-align: justify;
    padding : 20px;
    width : 205px;
    height:205px;
    display: block;
    margin : 0 auto;
    
    
}
#classsub{
    font-size : 30px;
}

.explain{
    font-size : 17px;
}
.explain_buttom{
    border: 2px solid black;
    width : 80%;
    margin : auto;
}