@import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/Godo.css');


.container{
    margin: 20px auto;
    border: 3px double #dfaa32;
    border-radius: 15px;
    padding: 25px;
    max-width: 1200px;
    width: 90%;
    font-size: 1.5em;
    font-family: "Godo";

}
.groupTitle{
    border-bottom: 1px solid #dfaa32;
    padding-bottom: 10px;
}
.groupContent,table{
    font-size: 0.8em;
    word-break: break-all;
}
.divideWrap{
    display: flex;
}
.middleLine{
    display: block;
    width: 70%;
    border-bottom: 1px dashed #dfaa32;
    margin: 25px auto;
    text-align: center;
}
.divideBox{
    width:50%;
}
.textBox{
    
    border: 1px solid #dfaa32;
    border-radius: 10px;
    padding: 10px;
}
.detailContent{
}
.fullBox{
    width: 100%;
}
table{
    width:100%;
}
.completeBtn{
    border: none;
    color: #473bf9;
    background: transparent;
    padding: 0px 15px;
    border-radius: 25px;
    cursor: default;
}
.completeBtn:focus{
    outline:none;
}

.partyBtn{
    transition: 0.25s;
    border: 1px solid;
    color: #000000;
    background: transparent;
    padding: 0px 15px;
    border-radius: 25px;
  }
  .partyBtn:hover{
    box-shadow: inset 0 0 0 2em #dfaa32;
    color: #fff;
    border-color: #dfaa32;
    outline:none;
  
  }
  .partyBtn:focus{
    outline:none;
  
  }
  .partyBtnNot{
    transition: 0.25s;
    border: none;
    color: #b3b3b3;
    background: transparent;
    padding: 0px 15px;
    border-radius: 25px;
    cursor: default;;
  }
  .partyBtnNot:hover,
  .partyBtnNot:focus{

    outline:none;
  
  }

  th,td{
      padding-bottom: 5px;
  }
  th:last-child,td:last-child{
      text-align: center;
      position: relative;
  }
  .cancelBtn{
    background: none;
    border: none;
    border-radius: 25px;
    transition: all ease 0.25s;
  }
  .fakeBtn{
      cursor: default;
      opacity: 0;
      border:none;
  }
  .cancelBtn:hover{
    box-shadow: inset 0 0 0 2em #dfaa32;
    color: #fff;
    border-color: #dfaa32;
    outline:none;
  }
  .cancelBtn:focus{
    outline:0
  }