@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
.headerContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px;
}

.coverBox{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black -50%, transparent);
}


.bannerTitle{
    position: absolute;
    color: #fff;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4em;
    font-family: 'Hanna', serif;
}
.centerBar{

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.main-nav a:hover{
    color:#1bb1dc;
}
.logo{

    width: 200px;
    background: url(../img/logo.png) center no-repeat;
    background-size: contain;
}

.bannerBox{
    position: relative;
    width: 100%;
    height: 40vh;
    background: url("../img/banner.jpg") center no-repeat;
    background-size : 100%;
  }
.logo{
    cursor: pointer;
}