@import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/Godo.css');
.headerContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px;
}

.coverBox{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black -50%, transparent);
}


.bannerTitle{
    position: absolute;
    color: #fff;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    font-family: 'Godo', serif;
}



@media(min-width:992px) {
    .logo.pc-logo{
        display:block;
        width: 200px;
        background: url("../img/new_logo.png") center no-repeat;
        background-size: cover;
    }
    .centerBar{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .logoutBtn1 {
        display:block;
    }
    .logoutBtn2 {
        display:none;
    }
    .bannerBox{
        position: relative;
        width: 100%;
        height: 250px;
        background: url("../img/banner.jpg") center no-repeat;
        background-size : 100%;
        box-shadow: 0px 5px 15px 0px;
    }
}
@media(max-width:991px){
    .headerContainer {
        display: none;
        
    }
    .logo.mobile-logo{
        width: 170px;
        height: 60px;
        margin-left:10px;
        background: url("../img/new_logo.png") center no-repeat;
        background-size: cover;
        display:block;
    }
    .logoutBtn1{
        display:none;
    }
    .logoutBtn2{
        display:block;
    }
    .centerBar{
    }
    .bannerBox{
        position: relative;
        width: 100%;
        height: 250px;
        background: url("../img/banner.jpg") center no-repeat;
        box-shadow: 0px 5px 15px 0px;
    }
}

.logo{
    cursor: pointer;
}

@media (max-width:991px){
    .moblie-bar{

        width:25px;
        height: 3px;
        background: #fff;
        margin-bottom: 5px;
        transition:all ease 0.25s;

    }
    .moblie-bar.active3{
        background: #dfaa32;
    }
    .topBar.active{
        transform: translateY(8px);

    }
    .middleBar.active{

    }
    .bottomBar.active{
        transform: translateY(-8px);
    }
    .topBar.active2{   
        transform: translateY(8px) rotate(45deg);

    }
    .middleBar.active2{
        transform:  rotate(45deg);
    }
    .bottomBar.active2{
        transform: translateY(-8px) rotate(135deg);

    }
    .bannerBox {
        height: 150px;
        
        background-size: cover;
    }
    .bannerTitle {
        width: 100%;
        text-align: center;
        font-size: 2em;
    }
    .sideBar{
        display:none;   
    }
    .mobile-nav ul:first-child{
        padding-top:15px;
        background:#513202c7
    }
    .mobile-nav ul:first-child li a{
        color:#fff;
    }

}
@media (max-width:768px){
    .bannerBox {
        height: 150px;
        background-size: cover;
    }
    .bannerTitle {

        font-size: 2em;
    }
}