
ul{
    font-family: "Godo";
}

.container{
    margin: 50px auto;
    border: 3px dashed #dfaa32;
    border-radius: 15px;
    padding: 40px;
    max-width: 1200px;
    font-family: "Godo";
}
.listBox{
    margin-bottom: 10px;

}
.submitControl{
    width: 100%;
    border-color: #dfaa32;
}
.submitControl:focus{
    outline: none;
}
.titleLine{
    width: 70%;
    border: none;
    border-bottom: 1px solid #dfaa32;
}
.creditLine{
    width: 80px;
    border: none;
    border-bottom: 1px solid #dfaa32;
    text-align: center;

}
.detailLine{
  height: 400px;
  }
.divBox{
    width:50%;
}
.divWrap{

}
.hideCheckBox{
    display:none;
}
.dateBtn{
    border-radius: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 30px;
    cursor:pointer;
    transition: all ease 0.25s;
}
.dateBtn.active{
    background: #dfaa32;
    text-align: center;
    color: #fff;
}
.dynamicDate{

}
.dynamicTime{
    display: none;
}
.dynamicTime.active{
    
    display: flex;
    align-items: center;
}




/* 선택창 */
.sel{
    display: inline-block;
    width: 25%;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.sel::before {
  position: absolute;
  content: '\f107';
  font-family: 'FontAwesome';
  color: #000;
  right: 5px;
  top: calc(50% - 0.65em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-family: 'Quicksand';
  color: #838e95;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 2px);
  display: none;
  list-style-type: none;
  text-align: left;
  background-color: #FFF;
  width: calc(100%);
  box-sizing: border-box;
  z-index: 1;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
  max-height: 250px;
  overflow: auto;
}

.sel__box__options {
  display: list-item;
  font-family: 'Godo';
  color: #838e95;
  padding: 0.1em 0.5em;
  user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 2px solid #dfaa32;
  min-width: 130px;
  margin-left: 20px;
  margin-right: 20px;
}


/* ----- Select Box Superman ----- */


/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.roleControlBox{
  display: flex;
  align-items: center;
}
.roleAddBtn{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #dfaa32;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
  transition: all ease 0.3s;
}
.roleAddBtn:focus{
  outline:none;
}
.roleAddBtn:hover{
  box-shadow: inset 0 0 0 2em #dfaa32;
  color: #fff;
}
.participantBox{

}
.participantList{
  margin-bottom: 40px;
}

.participantList span,
.participantList input{
  margin-bottom: 10px;
}
.deleteRoleBtn{
  font-family: FontAwesome;
  background: none;
  border: none;
  color: #dfaa32;
  padding: unset;

}
.deleteRoleBtn:before{
  content: "\f00d"
}
.deleteRoleBtn:focus{
  outline: none;
}
.roleItem{
  padding-left: 10px;
  margin-right: 5px;

}
.roleItemBox{
  display: inline-block;
}
.roleList{

}
.roleListInput {
  width: 10%;
  min-width: 150px;
  border: none;
  border-bottom: 1px solid #dda935;
}
.detailInput{
  width:100%
}
.roleListInput:focus {
  outline: none;
}
.howMany{
  width: 50px;
  min-width: 50px;
  text-align: center;

}
.roleControlBox{
  margin-bottom:10px;
}
.submitBtn{

}
.submitBtn{
  transition: 0.25s;
  border: 1px solid;
  color: #000000;
  background: transparent;
  padding: 5px 15px;
  border-radius: 25px;
}
.submitBtn:hover,
.submitBtn:focus{
  box-shadow: inset 0 0 0 2em #dfaa32;
  color: #fff;
  border-color: #dfaa32;
  outline:none;

}
.btnBox{
  text-align: center;
}

.listBox span{
  margin-right: 10px;
}
.image{
  width:10%;
  display: flex;
  margin: 2px;
  align-items: center;
  position: relative;
  cursor:pointer;
}
.image img{
  width: 100%;
}
.creditTitle{
  display: inline-block;
}
.halfBox{
  display: inline-block;
  width:49%;
}
.iconWrap{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.iconBox{
  display: none;
  width:50%;
  border: 2px solid #dfaa32;
  padding: 10px;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: all ease 1s;
}
.iconBox.active{
  display: block;
}
.iconBox.active2{
  opacity: 1;
  transform: translateY(0px);

}
.iconBox ul{
  display: flex;
  flex-wrap: wrap;
}

.previewIcon{
  position: relative;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border: 3px solid #e1af3f;
  box-sizing: content-box;
  border-radius: 15px;
  transition: all ease 0.25s;

}
.previewIcon:hover{
  font-size:1.1em;
}
.subTitle{
  font-size: 1.3em;
}
.previewIcon p{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  transform: translate(-50%,-50%);
}
.previewIcon p.active,
.previewIcon.active{
  border:none;
  color:transparent;
}
.myIcon{
  width:100%;
}
.iconWrap div{
  display: flex;
  margin-right: 15px;
  align-items: center;
}
.coverWrap{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: #fff;
  transition: all ease 0.25s;
}
.coverWrap:hover{
  background:none;
}
.coverWrap:active{
  background:none;
}