@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/Godo.css');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Jua|Nanum+Brush+Script|Nanum+Myeongjo:400,700,800|Noto+Serif+KR:200,300,400,500,600,700,900|Song+Myung&display=swap&subset=korean');

.introduction{
    padding : 5em;
    text-align: center;
    font-size : 36px;
    font-family: 'Godo', serif; 
    scroll-snap-type : y mandatory;
}
.n1{
    font-family: 'Noto Serif KR', serif;
    padding-bottom : 5em;
}
.n2{
    font-family: 'Song Myung', serif;
    text-align: left;
    font-size : 20px;
    display : flex;
    margin : auto;
}
.leftbox{

    /* padding-left: 1em; */
    width : 50%;
    padding-top: 70px;
    
}
.rightbox{
    /* padding-right: 1em; */
    width : 50%;
    padding-top: 70px;
   
}