@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/Godo.css');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Jua|Nanum+Brush+Script|Nanum+Myeongjo:400,700,800|Noto+Serif+KR:200,300,400,500,600,700,900|Song+Myung&display=swap&subset=korean');


@media(min-width: 992px) {
    .introduction{
        padding : 3em;
        padding-top:1em;
        padding-bottom:1em;
        font-family: 'Godo', serif;
        scroll-snap-type : y mandatory;
    }
    .topBar{
        margin-top: 1em;
        font-family: 'Godo', serif;
        text-align: center;
        font-size : 2em;
    }
    ul.tabs li{

        display: inline-block;
        padding: 10px 1em;
        cursor: pointer;
        color: #222;
        text-decoration: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
                to right,
                #dfaa32,
                #dfaa32 50%,
                #000 50%);
        background-size: 200% 100%;
        background-position: 100%;

    }
    #tab-4 .text{
        width : 100%;
        font-size : 20px;

        padding: 25px;
        margin-bottom:5em;
    }
    .info_img{
        padding : 25px;
        width : 70%;
        height: 70%;
        display: block;
        margin : auto;
    }
    .n1{
        font-family: 'Noto Serif KR', serif;
        padding-bottom : 5em;
    }
    .n2{
        font-family: 'Noto Serif KR', serif;
        text-align: left;
        font-size : 21px;
        display : flex;
        margin : auto;
        align-items: center;
        padding-bottom : 3em;
    }
    .leftbox{

        /* padding-left: 1em; */
        width : 50%;
        padding-top: 70px;

    }

    .rightbox{
        /* padding-right: 1em; */
        width : 50%;
        padding-top: 70px;
    }
    .tab-content{
        display: none;
        background: #ffffff;
        padding: 15px;
        padding-top:5em;
    }
    #tab-3 .text{

        width : 70%;
        margin : 0 auto;
        border: 3px double #dfaa32;
        font-size : 20px;
        border-radius: 15px;
        padding: 25px;
        margin-bottom:5em;
    }
    .n3{
        font-family: 'Noto Serif KR', serif;
        text-align: left;
        font-size : 21px;
        display : flex;
        margin : auto;
        align-items: center;
    }
}

@media(max-width: 991px) {
    .introduction{
        padding-top:0.5em;
        font-family: 'Godo', serif;
        scroll-snap-type : y mandatory;
    }
    .topBar{
        font-family: 'Godo', serif;
        text-align: center;
        font-size : 90%;
        margin-top: 0.5em;
    }
    .logo{
        width: 100%;
    }
    ul.tabs li{
        display: inline-block;
        padding: 5px 0.8em;
        margin-top:10px;
        cursor: pointer;
        color: #222;
        text-decoration: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
                to right,
                #dfaa32,
                #dfaa32 50%,
                #000 50%);
        background-size: 200% 100%;
        background-position: 100%;
        font-family: 'Godo', serif;

    }
    #tab-4 .text{
        width : 100%;
        font-size : 20px;
        margin-bottom:5em;
    }
    .info_img{
        width : 100%;
        height: 70%;
        display: block;
        margin : auto;
    }
    .n1{
        font-family: 'Noto Serif KR', serif;
        padding-bottom: 5em;
    }
    .n2{
        font-family: 'Noto Serif KR', serif;
        text-align: left;
        font-size : 21px;
        display : block;
        align-items: center;
    }
    .n3{
        font-family: 'Noto Serif KR', serif;
        font-size : 21px;
        display : block;
        margin : auto;
    }
    .leftbox{
        margin-bottom: 2rem;
    }

    .rightbox{
        margin-bottom: 2rem;
    }
    .tab-content{
        display: none;
        background: #ffffff;
        padding-top:2em;
    }
    #tab-3 .text{
        padding:1em;
        width : 100%;
        margin : 0 auto;
        border: 3px double #dfaa32;
        font-size : 20px;
        border-radius: 15px;
        margin-bottom:3em;
    }
}


#tab-1{
    text-align: center;
    font-size : 2.3em;
}
.tabs{

}
ul.tabs{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  ul.tabs li:hover{
    transition: all ease 0.3s;
    background-position: 0%;

  }
  ul.tabs li.current{
    background-position: 0%;
    border-bottom : 2px solid #dfaa32;
}
   

   
  .tab-content.current{
    display: inherit;
  }

.class{
    width : 50px;
    height : 50px;
}
#tab-2{
    width:100%;
    height:100%;
    margin-bottom: 20%
}
#tab-2 .title{
    text-align: center;
    width : 70%;
    margin: 0 auto;
    padding-bottom : 25px;
    font-size : 30px;
}


#tab-3 .title{
    text-align: center;
    width : 70%;
    margin: 0 auto;
    padding-bottom : 25px;
    font-size : 30px;
}

.notfound{
    overflow : hidden;
    text-align: center;
}
.notfound > img{
    width : 85%;
    height: auto;
}
.n1 p{
    opacity: 0;
    transition: all ease 1s;
    transform: translateY(-100%);

}
.n1 p.active{
    opacity: 1;
    transform: translateY(0);

}
.mainTitle{
    opacity: 0;
    transition: all ease 1s;
}
.mainTitle.active{
    opacity: 1;
   
}
