
.login{
  width: 300px;
  background-color: rgba(0, 0, 0, 0);

}

.login_btn{
    background: transparent;
    color : white;
    font-family: Georgia, "굴림", serif; 
    border-radius: 4px;
    border : 0;
    outline : 0;
    font-size: 0.8em;

}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #0000007d;
  border: 3px solid #ababab;  
  border-radius: 15px;

  color:#fff;
}

.form-signin-heading{
    font-size: 2em;
    
}
.mainWrapper{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.loginBtn{
  background: #dfaa32 ;
  border: 1px solid #dfaa32;
  padding: 5px;
  font-size: 1em;
  transition: 0.5s;

}
.signupBtn{
  background: #dfaa32 ;
  border: 1px solid #dfaa32;
  padding: 5px;
  font-size: 1em;
  transition: 0.5s;
  border-radius: .3rem;
  width: 100%;
  margin-top: 1rem;

}
@keyframes pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(223,170,32,1);
  }

}
.signupBtn:hover,
.signupBtn:focus,
.signupBtn:active,
.loginBtn:hover,
.loginBtn:focus,
.loginBtn:active {
  background: #dfaa32 !important;
  border: 1px solid #dfaa32 !important;
  box-shadow:  0 0 0 1em rgba(223,170,32,0) !important;
  color: #fff;
  animation: pulse 1s;

}



.form-control {
  position: relative;
  font-size: 0.8em;
  height: auto;
  padding: 10px;
  transition: all ease 0.5s;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.happy {
    display: -ms-flexbox !important;
    display: flex !important;
    align-items : center!important;
    justify-content: space-evenly!important;
  }
.manageBox{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

}

@media (max-width: 768px){

    .login{
      width: 350px;
  }
}