
.login{
  width: 300px;
  background-color: rgba(0, 0, 0, 0);

}

.login_btn{
    background: transparent;
    color : white;
    font-family: Georgia, "굴림", serif; 
    border-radius: 4px;
    border : 0;
    outline : 0;
    font-size: 0.8em;

}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #0000007d;
  border: 3px solid #ababab;  
  border-radius: 15px;

  color:#fff;
}

.form-signin-heading{
    font-size: 2em;
    
}
.mainWrapper{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.loginBtn{
  background: #1bb1dc;
  border: none;
  padding: 10px;
  font-size: 1em;

}
.loginBtn:hover{
  background: #4bccf0;
}
.loginBtn:active{
  background: #4bccf0 !important;
  border:none !important;
}


.form-control {
  position: relative;
  font-size: 0.8em;
  height: auto;
  padding: 10px;
  transition: all ease 0.5s;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.happy {
    display: -ms-flexbox !important;
    display: flex !important;
    align-items : center!important;
    justify-content: space-evenly!important;
  }
.manageBox{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

}

@media (max-width: 768px){

    .login{
      width: 350px;
  }
}