//로그인
.login{
    background-color: aliceblue;
    padding : 25px;
    
}
.login_btn{
    background-color : darkgoldenrod;
    color : white;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

.form-signin-heading{
    text-align: : right;
    font-size: 36px;
    color : black;
    
}
	

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
}