@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
p{
    margin: 15px 0 15px 0;
}
#mainContainer{
    width:90%;
    margin:auto;
}

.footerBox{
    background: #5b5a5a;
    width: 100%;
    height: 250px;
    color:#fff;
}

.topBanner{
    position: absolute;
    z-index: 10;
    width: 100%;
    background: #0000007d;
    color: #fff;
    height: 100px;

}
.signupWrap{
    position: relative;
}

.signupBox{
    display: none;
    width:500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #0000007d;
    padding: 50px;
    color: #fff;
    border-radius: 15px;
    
}
.signupBox.active{
    display:block;
}
.signupBox.wide{
    width: 80%;
    transition: width ease 0.5s;
}
.signupSubTitle{
    font-size: 1.5em;
    font-family: 'Spoqa Han Sans';
}
.signupDetailTitle{
    font-size:2em;
    font-family: 'Spoqa Han Sans';
    font-weight: 600;
}

.signupTitle{
    font-size:2em;
    font-family: 'Spoqa Han Sans';
    font-weight: 600;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateX(-10%);

}
.signupTitle.active{
    opacity: 1;
    transform: translateX(0%);
    
}
.signupTitleFin{
    font-size:2em;
    font-family: 'Spoqa Han Sans';
    font-weight: 600;
}

#intro2{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("../img/signup-bg.png") center top no-repeat;
    background-size: cover;
}

.signFisrt ul li{
    opacity:0;
    transition: opacity ease 0.3s;
}
.signFisrt ul li.active{
    opacity:1;
}

.signInput{
    width:0%;
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    outline: none;
    margin-bottom:15px;
    padding-bottom: 10px;
    transition: width ease 0.3s;
}
.signInput.active{
    width:100%;
}
.validText{
    display:none;
    color: #ff5d5d;
    margin-bottom: 15px;
}
.validText.right{
    color: #6bf9cd;
}
.validText.wrong{
    display:block;
}
.buttonBox{
    display: flex;
    justify-content: space-between;
}
.homeBtn,.submitBtn{
    padding: 15px 15px 15px 35px;
    color: #fff;
    font-size: 1.5em;
    outline: none !important;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    background: url("../img/home.png") center left no-repeat;
    transition: all ease 0.3s;
    
}
.homeBtn:hover,.submitBtn:hover{
    background-position-x: 0%;
    
}
.prevBtn, .checkBackBtn{
    padding: 15px 15px 15px 35px;
    color: #fff;
    font-size: 1.5em;
    outline: none !important;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    background: url("../img/leftBtn.png") center left no-repeat;
    background-position-x: 10%;
    transition: all ease 0.3s;
}
.prevBtn:hover, .checkBackBtn:hover{
    background-position-x: 0%;
}
.nextBtn, .checkBtn,.checkSubmit {
    padding: 15px 35px 15px 15px;
    color: #fff;
    font-size: 1.5em;
    outline: none !important;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    background: url("../img/rightBtn.png") center right no-repeat;
    background-position-x: 90%;
    transition: all ease 0.3s;
}
.nextBtn:hover, .checkBtn:hover,.checkSubmit:hover {
    background-position-x: 100%;
}

.categoryList{
    display: flex;
    justify-content: space-between;
}
.colBox{
    opacity:0;
    transition: opacity ease 0.5s;
}
.colBox.active{
    opacity:1;
}
.colTitle{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
}
.colContent{
    display: flex;
    align-items: center;
    font-size: 1.5em;
}


input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
}
.checkbox-container .checkbox {
	display: inline-block;
	width:15px;
	height: 15px;
    background: transparent;
    padding-left: 20px;


}
.checkbox-container .checkbox:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background: #3498db;
    -webkit-transform: translate(4px, 11px) rotate(-45deg);
    transform: translate(9px, 12px) rotate(-45deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: all 150ms;
    transition-delay: 0ms;
}
.checkbox-container .checkbox:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background: #3498db;
    -webkit-transform: translate(1px, 6px) rotate(45deg);
    transform: translate(1px, 6px) rotate(45deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: all 150ms;
    transition-delay: 150ms;
}
.checkbox-container input[type="checkbox"]:checked ~ .checkbox:after {
    width: 18px;
    transition-delay: 150ms;
}
.checkbox-container input[type="checkbox"]:checked ~ .checkbox:before {
    width:11px;
			transition-delay: 0ms;
}
.qustionBox{
    padding: 10px 30px;
    margin-bottom: 15px;
    border: 1px solid;
}

tbody{
  font-size: 1.3em;  
}
td{
    padding: 10px 0px;
}
th{
    width:16%;
}
.qustionBox p{
    font-size: 1.5em;
}
.qustiontable{
    width:100%;
}



.qustiontable tr td input[type="checkbox"] { display: none; }

.qustiontable tr td input[type="checkbox"] + label {
  position: relative;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.qustiontable tr td input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.qustiontable tr td input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  transform: translateX(-2px);
  border-radius: 15px;
  border: 1px solid #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.qustiontable tr td input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}
.tempTitle{
    display: none;
}
.completeBox{
    text-align: center;
}

@media (max-width: 768px){

    .colContent{
      
        font-size: 1.2em;
    }
}