<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ITUDY</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/signup.css" rel="stylesheet">

</head>

<body>

  <section id="intro2" class="clearfix">
    <div class="container h-100 signupWrap">
      <div class="signupBox signFisrt">
          <p class="signupTitle">회원가입</p>
          <ul>
              <li class="signupSubTitle">Name</li>
              <li><input type="text" id="name" class="signInput" placeholder="이름"></li>
              <li class="validText">이름을 입력해주세요</li>
              <li class="signupSubTitle">ID</li>
              <li><input type="text" id="id" class="signInput" placeholder="아이디"></li>
              <li class="validText">아이디를 입력해주세요</li>
              <li class="signupSubTitle">Password</li>
              <li><input type="password" id="password" class="signInput" placeholder="비밀번호"></li>
              <li class="validText">비밀번호를 입력해주세요</li>
              <li class="signupSubTitle">Repeat Password</li>
              <li><input type="password" id="repeatPassword" class="signInput" placeholder="비밀번호 확인"></li>
              <li class="validText">비밀번호가 일치하지 않습니다.</li>
              <li class="signupSubTitle">Phone Number</li>
              <li><input type="text" id="phone" class="signInput" placeholder="전화번호(010-xxxx-xxxx)"></li>
              <li class="validText">전화번호를 입력해주세요</li>
              <li class="signupSubTitle">Email</li>
              <li><input type="text" id="email" class="signInput" placeholder="이메일"></li>
              <li class="validText">이메일을 입력해주세요</li>
          </ul>
          <div class="buttonBox">
                <a href="/"><button type="button" class="homeBtn">Home</button></a>
              <button type="button" class="nextBtn formSubmit">Next</button>
          </div>
      </div>
      <div class="signupBox">
            <p class="tempTitle ">처음</p>
            <p class="signupTitle">카테고리(해본거 클릭)</p>
            
            <div class="categoryList">
                <ul class="colBox">
                    <li class="colTitle">언어</li>
                    <li class="colContent checkbox-container">
                        <label for="list_c">C</label>
                        <input type="checkbox" id="list_c">
                        <label class="checkbox" for="list_c"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_cpp">C++</label>
                        <input type="checkbox" id="list_cpp">
                        <label class="checkbox" for="list_cpp"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_cs">C#</label>
                        <input type="checkbox" id="list_cs">
                        <label class="checkbox" for="list_cs"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_java">Java</label>
                        <input type="checkbox" id="list_java">
                        <label class="checkbox" for="list_java"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_ruby">Ruby</label>
                        <input type="checkbox" id="list_ruby">
                        <label class="checkbox" for="list_ruby"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_python">Python</label>
                        <input type="checkbox" id="list_python">
                        <label class="checkbox" for="list_python"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_r">R</label>
                        <input type="checkbox" id="list_r">
                        <label class="checkbox" for="list_r"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_go">Go</label>
                        <input type="checkbox" id="list_go">
                        <label class="checkbox" for="list_go"></label>  
                    </li>
                </ul>
                <ul class="colBox">
                    <li class="colTitle">웹 개발</li>
                    <li class="colContent checkbox-container">
                        <label for="list_html">HTML/CSS</label>
                        <input type="checkbox" id="list_html">
                        <label class="checkbox" for="list_html"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_js">Javascript</label>
                        <input type="checkbox" id="list_js">
                        <label class="checkbox" for="list_js"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_spring">Spring</label>
                        <input type="checkbox" id="list_spring">
                        <label class="checkbox" for="list_spring"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_nodejs">Nodejs</label>
                        <input type="checkbox" id="list_nodejs">
                        <label class="checkbox" for="list_nodejs"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_ang">Angularjs</label>
                        <input type="checkbox" id="list_ang">
                        <label class="checkbox" for="list_ang"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_vue">Vuejs</label>
                        <input type="checkbox" id="list_vue">
                        <label class="checkbox" for="list_vue"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_react">Reactjs</label>
                        <input type="checkbox" id="list_react">
                        <label class="checkbox" for="list_react"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_php">PHP</label>
                        <input type="checkbox" id="list_php">
                        <label class="checkbox" for="list_php"></label>  
                    </li>
                </ul>
                <ul class="colBox">
                    <li class="colTitle">모바일 앱</li>
                    <li class="colContent checkbox-container">
                        <label for="list_android">Android</label>
                        <input type="checkbox" id="list_android">
                        <label class="checkbox" for="list_android"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_ios">IOS</label>
                        <input type="checkbox" id="list_ios">
                        <label class="checkbox" for="list_ios"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_swift">Swift</label>
                        <input type="checkbox" id="list_swift">
                        <label class="checkbox" for="list_swift"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_kotlin">Kotlin</label>
                        <input type="checkbox" id="list_kotlin">
                        <label class="checkbox" for="list_kotlin"></label>
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_oc">Objective-C</label>
                        <input type="checkbox" id="list_oc">
                        <label class="checkbox" for="list_oc"></label>  
                    </li>
                    
                </ul>
                <ul class="colBox">
                    <li class="colTitle">데이터베이스</li>
                    <li class="colContent checkbox-container">
                        <label for="list_sql">MYSQL</label>
                        <input type="checkbox" id="list_sql">
                        <label class="checkbox" for="list_sql"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_mongo">MongoDB</label>
                        <input type="checkbox" id="list_mongo">
                        <label class="checkbox" for="list_mongo"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_springboot">SpringBoot</label>
                        <input type="checkbox" id="list_springboot">
                        <label class="checkbox" for="list_springboot"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_oracle">OracleDB</label>
                        <input type="checkbox" id="list_oracle">
                        <label class="checkbox" for="list_oracle"></label>  
                    </li>
                </ul>
            </div>
            
            <div class="buttonBox">
                <button type="button" class="prevBtn">Prev</button>
                <button type="button" class="checkSubmit checkBtn">Next</button>
            </div>
        </div>
        <div class="signupBox">
            <p class="tempTitle">마지막</p>
            <p class="signupTitleFin" style="text-align: center">회원가입이 완료되었습니다.</p>
            <div class="completeBox">
               <button type="button" class="submitBtn">Home</button>  
            </div>
        </div>
      </div>
    </div>
  </section><!-- #intro -->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../lib/easing/easing.min.js"></script>
  <script src="../lib/mobile-nav/mobile-nav.js"></script>
  <script src="../lib/waypoints/waypoints.min.js"></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../contactform/contactform.js"></script>

  <!-- Main Javascript File -->
  <script src="../js/main.js"></script>
  <script src="../js/signup.js"></script>

</body>
</html>
