<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Study Together</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/signup.css" rel="stylesheet">

</head>

<body>
    <!-- <div class="topBanner">
        <span>ITUDY</span>
    </div> -->
 

  <section id="intro" class="clearfix">
    <div class="container h-100 signupWrap">
      <div class="signupBox">
          <p class="signupTitle">회원가입</p>
          <ul>
              <li class="signupSubTitle">Name</li>
              <li><input type="text" id="name" class="signInput"></li>
              <li class="signupSubTitle">ID</li>
              <li><input type="text" id="id" class="signInput"></li>
              <li class="signupSubTitle">Password</li>
              <li><input type="password" id="password" class="signInput"></li>
              <li class="signupSubTitle">Repeat Password</li>
              <li><input type="password" class="signInput"></li>
              <li class="signupSubTitle">email</li>
              <li><input type="text" id="email" class="signInput"></li>
          </ul>
          <div class="buttonBox">
                <a href="/"><button type="button" class="homeBtn">Home</button></a>
              <button type="button" class="nextBtn">Next</button>
          </div>
      </div>
      <div class="signupBox">
            <p class="tempTitle ">처음</p>
            <p class="signupTitle">카테고리(해본거 클릭)</p>
            
            <div class="categoryList">
                <ul class="colBox">
                    <li class="colTitle">언어</li>
                    <li class="colContent checkbox-container">
                        <label for="list_c">C</label>
                        <input type="checkbox" id="list_c">
                        <label class="checkbox" for="list_c"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_cpp">C++</label>
                        <input type="checkbox" id="list_cpp">
                        <label class="checkbox" for="list_cpp"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_cs">C#</label>
                        <input type="checkbox" id="list_cs">
                        <label class="checkbox" for="list_cs"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_java">Java</label>
                        <input type="checkbox" id="list_java">
                        <label class="checkbox" for="list_java"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_ruby">Ruby</label>
                        <input type="checkbox" id="list_ruby">
                        <label class="checkbox" for="list_ruby"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_python">Python</label>
                        <input type="checkbox" id="list_python">
                        <label class="checkbox" for="list_python"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_r">R</label>
                        <input type="checkbox" id="list_r">
                        <label class="checkbox" for="list_r"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_go">Go</label>
                        <input type="checkbox" id="list_go">
                        <label class="checkbox" for="list_go"></label>  
                    </li>
                </ul>
                <ul class="colBox">
                    <li class="colTitle">웹 개발</li>
                    <li class="colContent checkbox-container">
                        <label for="list_html">html/css</label>
                        <input type="checkbox" id="list_html">
                        <label class="checkbox" for="list_html"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_js">Javascript</label>
                        <input type="checkbox" id="list_js">
                        <label class="checkbox" for="list_js"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_spring">Spring</label>
                        <input type="checkbox" id="list_spring">
                        <label class="checkbox" for="list_spring"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_nodejs">Nodejs</label>
                        <input type="checkbox" id="list_nodejs">
                        <label class="checkbox" for="list_nodejs"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_ang">Angular</label>
                        <input type="checkbox" id="list_ang">
                        <label class="checkbox" for="list_ang"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_vue">Vuejs</label>
                        <input type="checkbox" id="list_vue">
                        <label class="checkbox" for="list_vue"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_react">React</label>
                        <input type="checkbox" id="list_react">
                        <label class="checkbox" for="list_react"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_php">PHP</label>
                        <input type="checkbox" id="list_php">
                        <label class="checkbox" for="list_php"></label>  
                    </li>
                </ul>
                <ul class="colBox">
                    <li class="colTitle">모바일 앱</li>
                    <li class="colContent checkbox-container">
                        <label for="list_android">Android</label>
                        <input type="checkbox" id="list_android">
                        <label class="checkbox" for="list_android"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_ios">IOS</label>
                        <input type="checkbox" id="list_ios">
                        <label class="checkbox" for="list_ios"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_swift">Swift</label>
                        <input type="checkbox" id="list_swift">
                        <label class="checkbox" for="list_swift"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_kotilin">Kotilin</label>
                        <input type="checkbox" id="list_kotilin">
                        <label class="checkbox" for="list_kotilin"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_oc">Objective-C</label>
                        <input type="checkbox" id="list_oc">
                        <label class="checkbox" for="list_oc"></label>  
                    </li>
                    
                </ul>
                <ul class="colBox">
                    <li class="colTitle">데이터베이스</li>
                    <li class="colContent checkbox-container">
                        <label for="list_sql">MYSQL</label>
                        <input type="checkbox" id="list_sql">
                        <label class="checkbox" for="list_sql"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_mongo">MongoDB</label>
                        <input type="checkbox" id="list_mongo">
                        <label class="checkbox" for="list_mongo"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_springboot">SpringBoot</label>
                        <input type="checkbox" id="list_springboot">
                        <label class="checkbox" for="list_springboot"></label>  
                    </li>
                    <li class="colContent checkbox-container">
                        <label for="list_oracle">Oracle</label>
                        <input type="checkbox" id="list_oracle">
                        <label class="checkbox" for="list_oracle"></label>  
                    </li>
                </ul>
            </div>
            
            <div class="buttonBox">
                <button type="button" class="prevBtn">Prev</button>
                <button type="button" class="checkSubmit checkBtn">Next</button>
            </div>
        </div>
        <div class="signupBox wide">
            <p class="tempTitle ">언어</p>
            <p class="signupTitle">세부역량 (언어)</p>
            <div class="qustionBox">
                <p>1. 언어관련 질문</p>
                <p>2. 언어관련 질문</p>
                <p>3. 언어관련 질문</p>
                <p>4. 언어관련 질문</p>
                <p>5. 언어관련 질문</p>
            </div>
            
            <table class="qustiontable" border ="0">
                    <th></th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    
                    <tr>
                        
                        <td>C</td>
                        <td><input type="checkbox" name = "C_1" id="box-1" name="check1">
                            <label for="box-1"></label></td>
                        <td><input type="checkbox" name = "C_2" id="box-2" name="check1">
                            <label for="box-2"></label></td>
                        <td><input type="checkbox" name = "C_3" id="box-3" name="check1">
                            <label for="box-3"></label></td>
                        <td><input type="checkbox" name = "C_4"id="box-4" name="check1">
                            <label for="box-4"></label></td>
                        <td><input type="checkbox" name = "C_5" id="box-5" name="check1">
                            <label for="box-5"></label></td>
                        
                    </tr>
                    
                    <tr>
                        <td>Java</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>C++</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ruby</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    </div>
                </table>
            <div class="buttonBox">
                <button type="button" class=" checkBackBtn">Prev</button>
                <button type="button" class="checkBtn">Next</button>
            </div>
        </div>
        <div class="signupBox wide">
            <p class="tempTitle ">웹 개발</p>
            <p class="signupTitle">세부역량 (웹 개발)</p>
            <div class="qustionBox">
                <p>1. 웹관련 질문</p>
                <p>2. 웹관련 질문</p>
                <p>3. 웹관련 질문</p>
                <p>4. 웹관련 질문</p>
                <p>5. 웹관련 질문</p>
            </div>
            <table class="qustiontable" border ="0">
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                
            </table>
            <div class="buttonBox">
                <button type="button" class=" checkBackBtn">Prev</button>
                <button type="button" class="checkBtn">Next</button>
            </div>
        </div>
        <div class="signupBox wide">
            <p class="tempTitle">모바일 앱</p>
            <p class="signupTitle">세부역량 (모바일 앱)</p>
            <div class="qustionBox">
                <p>1. 모바일관련 질문</p>
                <p>2. 모바일관련 질문</p>
                <p>3. 모바일관련 질문</p>
                <p>4. 모바일관련 질문</p>
                <p>5. 모바일관련 질문</p>
            </div>
            <table class="qustiontable" border ="0">
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                
            </table>
            <div class="buttonBox ">
                <button type="button" class=" checkBackBtn">Prev</button>
                <button type="button" class="checkBtn">Next</button>
            </div>
        </div>
        <div class="signupBox wide">
            <p class="tempTitle">데이터베이스</p>
            <p class="signupTitle">세부역량 (데이터베이스)</p>
            <div class="qustionBox">
                <p>1. 디비관련 질문</p>
                <p>2. 디비관련 질문</p>
                <p>3. 디비관련 질문</p>
                <p>4. 디비관련 질문</p>
                <p>5. 디비관련 질문</p>
            </div>
            <table class="qustiontable" border ="0">
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                
            </table>
            <div class="buttonBox">
                <button type="button" class=" checkBackBtn">Prev</button>
                <button type="button" class="checkBtn">Next</button>
            </div>
        </div>
        <div class="signupBox">
            <p class="tempTitle">마지막</p>
            <p class="signupTitle" style="text-align: center">회원가입이 완료되었습니다.</p>
            <div class="completeBox">
               <button type="button" class="submitBtn">Home</button>  
            </div>
        </div>
      </div>
    </div>
  </section><!-- #intro -->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../lib/easing/easing.min.js"></script>
  <script src="../lib/mobile-nav/mobile-nav.js"></script>
  <script src="../lib/wow/wow.min.js"></script>
  <script src="../lib/waypoints/waypoints.min.js"></script>
  <script src="../lib/counterup/counterup.min.js"></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../contactform/contactform.js"></script>

  <!-- Main Javascript File -->
  <script src="../js/main.js"></script>
  <script src="../js/signup.js"></script>

</body>
</html>
