<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Study Together</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/custom.css" rel="stylesheet">

</head>

<body>
    <div class="topBanner">
        <span>ITUDY</span>
    </div>
 

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container h-100 signupWrap">
      <div class="signupBox">
          <p class="signupTitle">회원가입</p>
          <ul>
              <li class="signupSubTitle">Name</li>
              <li><input type="text" class="signInput"></li>
              <li class="signupSubTitle">ID</li>
              <li><input type="text" class="signInput"></li>
              <li class="signupSubTitle">Password</li>
              <li><input type="password" class="signInput"></li>
              <li class="signupSubTitle">email</li>
              <li><input type="text" class="signInput"></li>
          </ul>
          <div class="buttonBox">
              <button type="button" class="prevBtn">Home</button>
              <button type="button" class="nextBtn">Next</button>
          </div>
      </div>
      <div class="signupBox">
            <p class="signupTitle">카테고리(해본거 클릭)</p>
            <div class="categoryList">
                <ul class="colBox">
                    <li class="colTitle">언어</li>
                    <li class="colContent">C</li>
                    <li class="colContent">Java</li>
                    <li class="colContent"></li>
                </ul>
                <ul class="colBox">
                    <li class="colTitle">웹</li>
                    <li class="colContent">HTML</li>
                    <li class="colContent">Node js</li>
                    <li class="colContent"></li>
                </ul>
                <ul class="colBox">
                    <li class="colTitle">모바일</li>
                    <li class="colContent">Android</li>
                    <li class="colContent"></li>
                    <li class="colContent"></li>
                </ul>
                <ul class="colBox">
                    <li class="colTitle">데이터베이스</li>
                    <li class="colContent">mysql</li>
                    <li class="colContent"></li>
                    <li class="colContent"></li>
                </ul>
            </div>
            <div class="buttonBox">
                <button type="button" class="prevBtn">Prev</button>
                <button type="button" class="nextBtn">Next</button>
            </div>
        </div>
    </div>
  </section><!-- #intro -->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../lib/easing/easing.min.js"></script>
  <script src="../lib/mobile-nav/mobile-nav.js"></script>
  <script src="../lib/wow/wow.min.js"></script>
  <script src="../lib/waypoints/waypoints.min.js"></script>
  <script src="../lib/counterup/counterup.min.js"></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../contactform/contactform.js"></script>

  <!-- Main Javascript File -->
  <script src="../js/main.js"></script>
  <script src="../js/custom.js"></script>

</body>
</html>
